<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<annotation-driven />
	
	<!-- Configure to plugin JSON as request and response in method handler -->
	<beans:bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<beans:property name="messageConverters">
			<beans:list>
				<beans:ref bean="jsonMessageConverter"/>
			</beans:list>
		</beans:property>
	</beans:bean>
	
	<!-- Configure bean to convert JSON to POJO and vice versa -->
	<beans:bean id="jsonMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></beans:bean>	
	
	<beans:bean id="statusUpdateScheduler" class="com.dev.ticketing.system.service.StatusUpdateScheduler"></beans:bean>	
	<beans:bean id="emailService" class="com.dev.ticketing.system.service.EmailService"></beans:bean>
	
	<beans:bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver"></beans:property>
		<beans:property name="url" value="jdbc:mysql://localhost:3306/ticketingsystem"></beans:property>
		<beans:property name="username" value="root"></beans:property>
		<beans:property name="password" value=""></beans:property>
	</beans:bean>
	
	<beans:bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
		<beans:property name="dataSource" ref="ds"></beans:property>
	</beans:bean>
	
	<beans:bean id="ticketDao" class="com.dev.ticketing.system.dao.TicketDao">
		<beans:property name="template" ref="jt"></beans:property>
	</beans:bean>
	
	<beans:bean id="userDao" class="com.dev.ticketing.system.dao.UserDao">
		<beans:property name="template" ref="jt"></beans:property>
	</beans:bean>
	
	<beans:bean id="ticketBusiness" class="com.dev.ticketing.system.business.TicketBusiness"></beans:bean>
	<beans:bean id="userBusiness" class="com.dev.ticketing.system.business.UserBusiness"></beans:bean>
	<beans:bean id="ticketValidator" class="com.dev.ticketing.system.business.validator.TicketValidator"></beans:bean>
	<beans:bean id="ticketResponseValidator" class="com.dev.ticketing.system.business.validator.TicketResponseValidator"></beans:bean>
	
	<beans:bean id="dBHelper" class="com.dev.ticketing.system.common.DBHelper"></beans:bean>
	<beans:bean id="errorHandler" class="com.dev.ticketing.system.common.ErrorHandler"></beans:bean>
	
	<context:component-scan base-package="com.dev.ticketing.system.controller" />
	
</beans:beans>
